/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
.waf-theme.wakanda_mobile .waf-widget-header,
.waf-theme.wakanda_mobile .waf-container.waf-widget-header {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #cfcfcf;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #979797;
  color: #ffffff;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6) inset;
  outline: 1px solid #777777;
  border-bottom-width: 0;
  font-size: 16px;
  font-weight: bold;
}
.waf-theme.wakanda_mobile .waf-widget-body,
.waf-theme.wakanda_mobile .waf-container.waf-widget-body {
  background-color: #ffffff;
}
.waf-theme.wakanda_mobile .waf-widget-footer,
.waf-theme.wakanda_mobile .waf-container.waf-widget-footer {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #cfcfcf;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #979797;
  color: #ffffff;
  outline: 1px solid #777777;
  border-bottom-width: 0;
}
.waf-theme.wakanda_mobile .waf-button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border-width: 0;
  border-style: solid;
  border-color: #030302;
  border-radius: 3px;
  background-color: #1d1d1b;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1d1d1b), to(#030302));
  background-image: -webkit-linear-gradient(top, #1d1d1b 0%, #030302 100%);
  background-image: -moz-linear-gradient(top, #1d1d1b 0%, #030302 100%);
  background-image: linear-gradient(to bottom, #1d1d1b 0%, #030302 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1d1d1b', endColorstr='#ff030302', GradientType=0);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 0;
}
.waf-theme.wakanda_mobile .waf-button.waf-state-hover {
  background-color: #3f3f3d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3f3f3d), to(#282828));
  background-image: -webkit-linear-gradient(top, #3f3f3d 0%, #282828 100%);
  background-image: -moz-linear-gradient(top, #3f3f3d 0%, #282828 100%);
  background-image: linear-gradient(to bottom, #3f3f3d 0%, #282828 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3f3f3d', endColorstr='#ff282828', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-button.waf-state-active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#030302), to(#1d1d1b));
  background-image: -webkit-linear-gradient(top, #030302 0%, #1d1d1b 100%);
  background-image: -moz-linear-gradient(top, #030302 0%, #1d1d1b 100%);
  background-image: linear-gradient(to bottom, #030302 0%, #1d1d1b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff030302', endColorstr='#ff1d1d1b', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-button.waf-role-success {
  border-color: #5e840a;
  background-color: #80b30e;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#80b30e), to(#5e840a));
  background-image: -webkit-linear-gradient(top, #80b30e 0%, #5e840a 100%);
  background-image: -moz-linear-gradient(top, #80b30e 0%, #5e840a 100%);
  background-image: linear-gradient(to bottom, #80b30e 0%, #5e840a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff80b30e', endColorstr='#ff5e840a', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-button.waf-role-success.waf-state-hover {
  background-color: #93be32;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#93be32), to(#76962f));
  background-image: -webkit-linear-gradient(top, #93be32 0%, #76962f 100%);
  background-image: -moz-linear-gradient(top, #93be32 0%, #76962f 100%);
  background-image: linear-gradient(to bottom, #93be32 0%, #76962f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff93be32', endColorstr='#ff76962f', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-button.waf-role-success.waf-state-active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5e840a), to(#80b30e));
  background-image: -webkit-linear-gradient(top, #5e840a 0%, #80b30e 100%);
  background-image: -moz-linear-gradient(top, #5e840a 0%, #80b30e 100%);
  background-image: linear-gradient(to bottom, #5e840a 0%, #80b30e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5e840a', endColorstr='#ff80b30e', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-button.waf-role-warning {
  border-color: #d3410e;
  background-color: #f05924;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f05924), to(#d3410e));
  background-image: -webkit-linear-gradient(top, #f05924 0%, #d3410e 100%);
  background-image: -moz-linear-gradient(top, #f05924 0%, #d3410e 100%);
  background-image: linear-gradient(to bottom, #f05924 0%, #d3410e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff05924', endColorstr='#ffd3410e', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-button.waf-role-warning.waf-state-hover {
  background-color: #f27245;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f27245), to(#d95e33));
  background-image: -webkit-linear-gradient(top, #f27245 0%, #d95e33 100%);
  background-image: -moz-linear-gradient(top, #f27245 0%, #d95e33 100%);
  background-image: linear-gradient(to bottom, #f27245 0%, #d95e33 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff27245', endColorstr='#ffd95e33', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-button.waf-role-danger {
  border-color: #d0110f;
  background-color: #ef2523;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ef2523), to(#d0110f));
  background-image: -webkit-linear-gradient(top, #ef2523 0%, #d0110f 100%);
  background-image: -moz-linear-gradient(top, #ef2523 0%, #d0110f 100%);
  background-image: linear-gradient(to bottom, #ef2523 0%, #d0110f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffef2523', endColorstr='#ffd0110f', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-button.waf-role-danger.waf-state-hover {
  background-color: #f14644;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f14644), to(#d73533));
  background-image: -webkit-linear-gradient(top, #f14644 0%, #d73533 100%);
  background-image: -moz-linear-gradient(top, #f14644 0%, #d73533 100%);
  background-image: linear-gradient(to bottom, #f14644 0%, #d73533 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff14644', endColorstr='#ffd73533', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-button.waf-role-info {
  border-color: #2ba3c0;
  background-color: #48bad6;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#48bad6), to(#2ba3c0));
  background-image: -webkit-linear-gradient(top, #48bad6 0%, #2ba3c0 100%);
  background-image: -moz-linear-gradient(top, #48bad6 0%, #2ba3c0 100%);
  background-image: linear-gradient(to bottom, #48bad6 0%, #2ba3c0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff48bad6', endColorstr='#ff2ba3c0', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-button.waf-role-info.waf-state-hover {
  background-color: #63c4dc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#63c4dc), to(#4bb0c9));
  background-image: -webkit-linear-gradient(top, #63c4dc 0%, #4bb0c9 100%);
  background-image: -moz-linear-gradient(top, #63c4dc 0%, #4bb0c9 100%);
  background-image: linear-gradient(to bottom, #63c4dc 0%, #4bb0c9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff63c4dc', endColorstr='#ff4bb0c9', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-buttonImage {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border-width: 0;
  border-style: solid;
  border-color: #030302;
  border-radius: 3px;
  background-color: #1d1d1b;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1d1d1b), to(#030302));
  background-image: -webkit-linear-gradient(top, #1d1d1b 0%, #030302 100%);
  background-image: -moz-linear-gradient(top, #1d1d1b 0%, #030302 100%);
  background-image: linear-gradient(to bottom, #1d1d1b 0%, #030302 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1d1d1b', endColorstr='#ff030302', GradientType=0);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.waf-theme.wakanda_mobile .waf-buttonImage.waf-state-hover {
  background-color: #3f3f3d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3f3f3d), to(#282828));
  background-image: -webkit-linear-gradient(top, #3f3f3d 0%, #282828 100%);
  background-image: -moz-linear-gradient(top, #3f3f3d 0%, #282828 100%);
  background-image: linear-gradient(to bottom, #3f3f3d 0%, #282828 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3f3f3d', endColorstr='#ff282828', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-buttonImage.waf-state-active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#030302), to(#1d1d1b));
  background-image: -webkit-linear-gradient(top, #030302 0%, #1d1d1b 100%);
  background-image: -moz-linear-gradient(top, #030302 0%, #1d1d1b 100%);
  background-image: linear-gradient(to bottom, #030302 0%, #1d1d1b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff030302', endColorstr='#ff1d1d1b', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-buttonImage.waf-role-success {
  border-color: #5e840a;
  background-color: #80b30e;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#80b30e), to(#5e840a));
  background-image: -webkit-linear-gradient(top, #80b30e 0%, #5e840a 100%);
  background-image: -moz-linear-gradient(top, #80b30e 0%, #5e840a 100%);
  background-image: linear-gradient(to bottom, #80b30e 0%, #5e840a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff80b30e', endColorstr='#ff5e840a', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-buttonImage.waf-role-success.waf-state-hover {
  background-color: #93be32;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#93be32), to(#76962f));
  background-image: -webkit-linear-gradient(top, #93be32 0%, #76962f 100%);
  background-image: -moz-linear-gradient(top, #93be32 0%, #76962f 100%);
  background-image: linear-gradient(to bottom, #93be32 0%, #76962f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff93be32', endColorstr='#ff76962f', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-buttonImage.waf-role-success.waf-state-active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5e840a), to(#80b30e));
  background-image: -webkit-linear-gradient(top, #5e840a 0%, #80b30e 100%);
  background-image: -moz-linear-gradient(top, #5e840a 0%, #80b30e 100%);
  background-image: linear-gradient(to bottom, #5e840a 0%, #80b30e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5e840a', endColorstr='#ff80b30e', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-buttonImage.waf-role-warning {
  border-color: #d3410e;
  background-color: #f05924;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f05924), to(#d3410e));
  background-image: -webkit-linear-gradient(top, #f05924 0%, #d3410e 100%);
  background-image: -moz-linear-gradient(top, #f05924 0%, #d3410e 100%);
  background-image: linear-gradient(to bottom, #f05924 0%, #d3410e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff05924', endColorstr='#ffd3410e', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-buttonImage.waf-role-warning.waf-state-hover {
  background-color: #f27245;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f27245), to(#d95e33));
  background-image: -webkit-linear-gradient(top, #f27245 0%, #d95e33 100%);
  background-image: -moz-linear-gradient(top, #f27245 0%, #d95e33 100%);
  background-image: linear-gradient(to bottom, #f27245 0%, #d95e33 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff27245', endColorstr='#ffd95e33', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-buttonImage.waf-role-danger {
  border-color: #d0110f;
  background-color: #ef2523;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ef2523), to(#d0110f));
  background-image: -webkit-linear-gradient(top, #ef2523 0%, #d0110f 100%);
  background-image: -moz-linear-gradient(top, #ef2523 0%, #d0110f 100%);
  background-image: linear-gradient(to bottom, #ef2523 0%, #d0110f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffef2523', endColorstr='#ffd0110f', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-buttonImage.waf-role-danger.waf-state-hover {
  background-color: #f14644;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f14644), to(#d73533));
  background-image: -webkit-linear-gradient(top, #f14644 0%, #d73533 100%);
  background-image: -moz-linear-gradient(top, #f14644 0%, #d73533 100%);
  background-image: linear-gradient(to bottom, #f14644 0%, #d73533 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff14644', endColorstr='#ffd73533', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-buttonImage.waf-role-info {
  border-color: #2ba3c0;
  background-color: #48bad6;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#48bad6), to(#2ba3c0));
  background-image: -webkit-linear-gradient(top, #48bad6 0%, #2ba3c0 100%);
  background-image: -moz-linear-gradient(top, #48bad6 0%, #2ba3c0 100%);
  background-image: linear-gradient(to bottom, #48bad6 0%, #2ba3c0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff48bad6', endColorstr='#ff2ba3c0', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-buttonImage.waf-role-info.waf-state-hover {
  background-color: #63c4dc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#63c4dc), to(#4bb0c9));
  background-image: -webkit-linear-gradient(top, #63c4dc 0%, #4bb0c9 100%);
  background-image: -moz-linear-gradient(top, #63c4dc 0%, #4bb0c9 100%);
  background-image: linear-gradient(to bottom, #63c4dc 0%, #4bb0c9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff63c4dc', endColorstr='#ff4bb0c9', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-canvas {
  border-width: 1px;
  border-style: solid;
  border-color: #cfcfcf;
  background-color: #ffffff;
}
.waf-theme.wakanda_mobile .waf-container {
  border-width: 1px;
  border-style: solid;
  border-color: #cfcfcf;
  background-color: #ffffff;
}
.waf-theme.wakanda_mobile .waf-dataGrid {
  border-width: 1px;
  border-style: solid;
  border-color: #cfcfcf;
  background-color: #ffffff;
  border-top-color: #777777;
}
.waf-theme.wakanda_mobile .waf-dataGrid .waf-dataGrid-header {
  background-color: #979797;
  color: #ffffff;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6) inset;
  outline: 1px solid #777777;
  border-bottom-width: 0;
  font-size: 16px;
  font-weight: bold;
}
.waf-theme.wakanda_mobile .waf-dataGrid .waf-dataGrid-header .waf-icon path {
  fill: #ffffff;
}
.waf-theme.wakanda_mobile .waf-dataGrid .waf-dataGrid-footer {
  background-color: #979797;
  color: #ffffff;
  outline: 1px solid #777777;
  border-bottom-width: 0;
}
.waf-theme.wakanda_mobile .waf-dataGrid .waf-dataGrid-footer .waf-icon path {
  fill: #ffffff;
}
.waf-theme.wakanda_mobile .waf-dataGrid .waf-dataGrid-body {
  background-color: #ffffff;
}
.waf-theme.wakanda_mobile .waf-dataGrid .waf-dataGrid-row {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #cfcfcf;
  background-color: #ffffff;
}
.waf-theme.wakanda_mobile .waf-dataGrid ul.waf-toolbar {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
.waf-theme.wakanda_mobile .waf-dataGrid .waf-dataGrid-header {
  outline: none;
}
.waf-theme.wakanda_mobile .waf-dataGrid .waf-dataGrid-footer {
  overflow: visible;
}
.waf-theme.wakanda_mobile .waf-frame {
  border-width: 1px;
  border-style: solid;
  border-color: #cfcfcf;
  background-color: #ffffff;
}
.waf-theme.wakanda_mobile .waf-listView {
  border-width: 1px;
  border-style: solid;
  border-color: #cfcfcf;
}
.waf-theme.wakanda_mobile .waf-listView .waf-container {
  border-width: 0;
}
.waf-theme.wakanda_mobile .waf-listView .waf-list-row {
  border-width: 1px 0 0 0;
  background-color: #ffffff;
}
.waf-theme.wakanda_mobile .waf-listView .waf-list-row:first-child {
  border-top-width: 0;
}
.waf-theme.wakanda_mobile .waf-listView .waf-list-row.waf-state-selected {
  background-color: #e6e6e6;
}
.waf-theme.wakanda_mobile .waf-listView .waf-list-row .waf-list-buttonGoTo {
  background: none;
  background-size: 12px 19px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(images/listview-goTo.png);
}
.waf-theme.wakanda_mobile .waf-matrix .waf-matrix-element {
  -webkit-transition: border 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  -moz-transition: border 0.2s ease-in-out, background-image 0.2s ease-in-out, -moz-box-shadow 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out, background-image 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.waf-theme.wakanda_mobile .waf-menuBar {
  list-style: none;
  margin: 0;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #777777;
  border-radius: 3px;
  background-color: #979797;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6) inset;
}
.waf-theme.wakanda_mobile .waf-menuItem {
  border-width: 0;
  border-style: inherit;
  border-color: inherit;
}
.waf-theme.wakanda_mobile .waf-menuItem.waf-menuItem-horizontal {
  border-right-width: 1px;
}
.waf-theme.wakanda_mobile .waf-menuItem.waf-menuItem-horizontal.waf-menuItem-first {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.waf-theme.wakanda_mobile .waf-menuItem.waf-menuItem-horizontal.waf-menuItem-last {
  border-right-width: 0;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.waf-theme.wakanda_mobile .waf-menuItem.waf-menuItem-vertical {
  border-bottom-width: 1px;
}
.waf-theme.wakanda_mobile .waf-menuItem.waf-menuItem-vertical.waf-menuItem-first {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.waf-theme.wakanda_mobile .waf-menuItem.waf-menuItem-vertical.waf-menuItem-last {
  border-bottom-width: 0;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.waf-theme.wakanda_mobile .waf-menuItem.waf-state-hover,
.waf-theme.wakanda_mobile .waf-menuItem.waf-state-active {
  background-color: rgba(255, 255, 255, 0.2);
}
.waf-theme.wakanda_mobile .waf-menuItem.waf-state-selected {
  background-color: #ffffff;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2) inset;
}
.waf-theme.wakanda_mobile .waf-navigationView .waf-navigationView-content {
  border-width: 0;
}
.waf-theme.wakanda_mobile .waf-navigationView .waf-navigationView-content .waf-navigationView-view {
  border-width: 0;
}
.waf-theme.wakanda_mobile .waf-navigationView .waf-navigationView-content .waf-navigationView-view .waf-navigationView-header {
  border-width: 0;
  background-color: #343434;
  box-shadow: none;
}
.waf-theme.wakanda_mobile .waf-navigationView .waf-navigationView-content .waf-navigationView-view .waf-navigationView-header .waf-navigationView-title {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.waf-theme.wakanda_mobile .waf-navigationView .waf-navigationView-content .waf-navigationView-view .waf-navigationView-header .waf-navigationView-title::before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 1px;
  vertical-align: middle;
}
.waf-theme.wakanda_mobile .waf-navigationView .waf-navigationView-footer {
  border-width: 0;
  outline-width: 0;
  background-color: #343434;
}
.waf-theme.wakanda_mobile .waf-navigationView .waf-navigationView-content .waf-navigationView-view .waf-navigationView-title {
  font-weight: normal;
}
.waf-theme.wakanda_mobile .waf-popover {
  border-width: 1px;
  border-style: solid;
  border-color: #cfcfcf;
  background-color: #ffffff;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
}
.waf-theme.wakanda_mobile .waf-popover .waf-popover-header {
  background-color: #343434;
  font-size: 16px;
  font-weight: bold;
}
.waf-theme.wakanda_mobile .waf-popover .waf-popover-footer {
  background-color: #343434;
}
.waf-theme.wakanda_mobile .waf-popover .waf-popover-header {
  border: 0;
  outline: 1px solid #343434;
  color: #fff;
  font-weight: normal;
}
.waf-theme.wakanda_mobile .waf-popover .waf-popover-footer {
  border: 0;
  outline: 1px solid #343434;
}
.waf-theme.wakanda_mobile .waf-popover .waf-popover-body {
  border: 0;
}
.waf-theme.wakanda_mobile .waf-progressBar {
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2) inset;
}
.waf-theme.wakanda_mobile .waf-progressBar .waf-progressBar-range {
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: 5px;
  background-color: #48bad6;
  background-clip: content-box;
  box-shadow: 0 0 0 1px #185c6d inset;
}
.waf-theme.wakanda_mobile .waf-radioGroup {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa;
  border-radius: 3px;
  background-color: #ffffff;
}
.waf-theme.wakanda_mobile .waf-radioGroup li {
  border-width: 0;
  border-style: inherit;
  border-color: inherit;
}
.waf-theme.wakanda_mobile .waf-radioGroup.waf-direction-vertical li:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.waf-theme.wakanda_mobile .waf-radioGroup.waf-direction-vertical li:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.waf-theme.wakanda_mobile .waf-radioGroup.waf-direction-horizontal li:first-child {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.waf-theme.wakanda_mobile .waf-radioGroup.waf-direction-horizontal li:last-child {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.waf-theme.wakanda_mobile .waf-radioGroup .waf-radio {
  border-width: 0;
  border-style: inherit;
  border-color: inherit;
  border-radius: inherit;
  -webkit-tap-highlight-color: transparent;
}
.waf-theme.wakanda_mobile .waf-radioGroup .waf-radio .waf-radio-box {
  visibility: hidden;
}
.waf-theme.wakanda_mobile .waf-radioGroup .waf-radio.waf-state-active {
  background-color: #48bad6;
}
.waf-theme.wakanda_mobile .waf-radioGroup .waf-radio.waf-state-selected .waf-radio-box {
  visibility: visible;
}
.waf-theme.wakanda_mobile .waf-radioGroup .waf-radio.waf-state-selected .waf-radio-box svg polygon {
  fill: #48bad6;
}
.waf-theme.wakanda_mobile .waf-radioGroup .waf-radio.waf-state-selected label {
  color: #48bad6;
}
.waf-theme.wakanda_mobile .waf-radioGroup.waf-direction-vertical .waf-radio:not(.waf-position-first) {
  border-top-width: 1px;
}
.waf-theme.wakanda_mobile .waf-radioGroup.waf-direction-horizontal .waf-radio:not(.waf-position-first) {
  border-left-width: 1px;
}
.waf-theme.wakanda_mobile .waf-radioGroup .waf-radio.waf-state-active label {
  color: #ffffff;
}
.waf-theme.wakanda_mobile .waf-radioGroup .waf-radio.waf-state-selected {
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 350ms, 200ms;
  -webkit-transition-timing-function: linear, linear;
  -moz-transition-property: background-color, color;
  -moz-transition-duration: 350ms, 200ms;
  -moz-transition-timing-function: linear, linear;
  transition-property: background-color, color;
  transition-duration: 350ms, 200ms;
  transition-timing-function: linear, linear;
}
.waf-theme.wakanda_mobile .waf-section {
  border-width: 1px;
  border-style: solid;
  border-color: #cfcfcf;
}
.waf-theme.wakanda_mobile .waf-section > .waf-container {
  border-width: 0 0 1px 0;
}
.waf-theme.wakanda_mobile .waf-section .waf-container:not(.waf-section-blank) .waf-richText {
  line-height: 38px;
}
.waf-theme.wakanda_mobile .waf-section .waf-section-input .waf-textField {
  box-shadow: none;
  border-width: 0;
}
.waf-theme.wakanda_mobile .waf-select {
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa;
  border-radius: 3px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2) inset;
  color: #000000;
}
.waf-theme.wakanda_mobile .waf-select .waf-select-mask {
  border-width: 0;
  border-style: inherit;
  border-color: inherit;
  border-radius: inherit;
}
.waf-theme.wakanda_mobile .waf-select .waf-select-label {
  border-width: 1px;
  border-style: inherit;
  border-color: inherit;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.waf-theme.wakanda_mobile .waf-select .waf-select-button {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.waf-theme.wakanda_mobile .waf-select .waf-select-label {
  padding-left: 5px;
  right: 19px;
}
.waf-theme.wakanda_mobile .waf-select .waf-select-button {
  width: 19px;
  background-color: #979797;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6) inset;
  outline: 1px solid #777777;
}
.waf-theme.wakanda_mobile .waf-select .waf-select-icon-symbol {
  fill: #ffffff;
}
.waf-theme.wakanda_mobile .waf-slider {
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2) inset;
}
.waf-theme.wakanda_mobile .waf-slider .ui-slider-range {
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: 3px;
  background-color: #48bad6;
  background-clip: content-box;
  box-shadow: 0 0 0 1px #185c6d inset;
}
.waf-theme.wakanda_mobile .waf-slider .ui-slider-handle {
  position: absolute;
  border-width: 1px;
  border-style: solid;
  border-color: #777777;
  border-radius: 1000px;
  background-image: none;
  background-color: #979797;
}
.waf-theme.wakanda_mobile .waf-slider.waf-state-disabled {
  opacity: 0.4;
}
.waf-theme.wakanda_mobile .waf-slider .ui-slider-handle {
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6) inset;
}
.waf-theme.wakanda_mobile .waf-slider.ui-slider-horizontal .ui-slider-handle {
  height: 130%;
  top: -15%;
}
.waf-theme.wakanda_mobile .waf-slider.ui-slider-vertical .ui-slider-handle {
  margin-left: 0;
  width: 130%;
  left: -15%;
}
.waf-theme.wakanda_mobile .waf-splitView > .waf-container {
  border-width: 0;
}
.waf-theme.wakanda_mobile .waf-switchbox {
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa;
  border-radius: 1000px;
  background-color: #ffffff;
}
.waf-theme.wakanda_mobile .waf-switchbox .waf-switchbox-switch {
  border-width: 4px;
  border-style: solid;
  border-color: transparent;
  border-radius: 1000px;
  background-color: #48bad6;
  background-clip: content-box;
  box-shadow: 0 0 0 1px #185c6d inset;
}
.waf-theme.wakanda_mobile .waf-tabView .waf-tabView-menuBar {
  border-radius: inherit;
}
.waf-theme.wakanda_mobile .waf-tabView .waf-container {
  border-radius: inherit;
}
.waf-theme.wakanda_mobile .waf-tabView.waf-tabView-menu-position-top-left > .waf-tabView-menuBar,
.waf-theme.wakanda_mobile .waf-tabView.waf-tabView-menu-position-top-right > .waf-tabView-menuBar {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.waf-theme.wakanda_mobile .waf-tabView.waf-tabView-menu-position-top-left > .waf-container,
.waf-theme.wakanda_mobile .waf-tabView.waf-tabView-menu-position-top-right > .waf-container {
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.waf-theme.wakanda_mobile .waf-tabView.waf-tabView-menu-position-bottom-left > .waf-tabView-menuBar,
.waf-theme.wakanda_mobile .waf-tabView.waf-tabView-menu-position-bottom-right > .waf-tabView-menuBar {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.waf-theme.wakanda_mobile .waf-tabView.waf-tabView-menu-position-bottom-left > .waf-container,
.waf-theme.wakanda_mobile .waf-tabView.waf-tabView-menu-position-bottom-right > .waf-container {
  border-bottom-width: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.waf-theme.wakanda_mobile .waf-tabView.waf-tabView-menu-position-left-top > .waf-tabView-menuBar,
.waf-theme.wakanda_mobile .waf-tabView.waf-tabView-menu-position-left-bottom > .waf-tabView-menuBar {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.waf-theme.wakanda_mobile .waf-tabView.waf-tabView-menu-position-left-top > .waf-container,
.waf-theme.wakanda_mobile .waf-tabView.waf-tabView-menu-position-left-bottom > .waf-container {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.waf-theme.wakanda_mobile .waf-tabView.waf-tabView-menu-position-right-top > .waf-tabView-menuBar,
.waf-theme.wakanda_mobile .waf-tabView.waf-tabView-menu-position-right-bottom > .waf-tabView-menuBar {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.waf-theme.wakanda_mobile .waf-tabView.waf-tabView-menu-position-right-top > .waf-container,
.waf-theme.wakanda_mobile .waf-tabView.waf-tabView-menu-position-right-bottom > .waf-container {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.waf-theme.wakanda_mobile .waf-tabView .waf-tabView-menuBar.waf-menuBar-horizontal .waf-menuItem.waf-menuItem-last {
  border-right-width: 1px;
}
.waf-theme.wakanda_mobile .waf-tabView .waf-tabView-menuBar.waf-menuBar-vertical .waf-menuItem.waf-menuItem-last {
  border-bottom-width: 1px;
}
.waf-theme.wakanda_mobile .waf-tabView .waf-tabView-menuBar.waf-menuBar-horizontal .waf-menuItem {
  height: 100% !important;
}
.waf-theme.wakanda_mobile .waf-tabView .waf-tabView-menuBar.waf-menuBar-vertical .waf-menuItem {
  width: 100% !important;
}
.waf-theme.wakanda_mobile .waf-textField {
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa;
  border-radius: 3px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2) inset;
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.waf-theme.wakanda_mobile .waf-video {
  border-width: 1px;
  border-style: solid;
  border-color: #cfcfcf;
  background-color: #ffffff;
}
.waf-theme.wakanda_mobile {
  background-color: #ffffff;
}
#studio-tmp-bodyContainer.waf-theme.wakanda_mobile {
  background-color: transparent !important;
}
.waf-theme.wakanda_mobile {
  line-height: 1.4;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000000;
}
.waf-theme.wakanda_mobile h1,
.waf-theme.wakanda_mobile h2,
.waf-theme.wakanda_mobile h3,
.waf-theme.wakanda_mobile h4,
.waf-theme.wakanda_mobile h5,
.waf-theme.wakanda_mobile h6 {
  line-height: 1.4;
}
.waf-theme.wakanda_mobile h1,
.waf-theme.wakanda_mobile h2,
.waf-theme.wakanda_mobile h3 {
  margin-top: 28px;
  margin-bottom: 14px;
}
.waf-theme.wakanda_mobile h4,
.waf-theme.wakanda_mobile h5,
.waf-theme.wakanda_mobile h6 {
  margin-top: 14px;
  margin-bottom: 14px;
}
.waf-theme.wakanda_mobile h1 {
  font-family: "Myriad Pro", Myriad, Arial, Verdana, sans-serif;
  font-size: 40px;
}
.waf-theme.wakanda_mobile h2 {
  font-family: "Myriad Pro", Myriad, Arial, Verdana, sans-serif;
  font-size: 34px;
}
.waf-theme.wakanda_mobile h3 {
  font-family: "Myriad Pro", Myriad, Arial, Verdana, sans-serif;
  font-size: 28px;
}
.waf-theme.wakanda_mobile h4 {
  font-family: "Myriad Pro", Myriad, Arial, Verdana, sans-serif;
  font-size: 23px;
}
.waf-theme.wakanda_mobile h5 {
  font-family: "Myriad Pro", Myriad, Arial, Verdana, sans-serif;
  font-size: 20px;
}
.waf-theme.wakanda_mobile h6 {
  font-family: "Myriad Pro", Myriad, Arial, Verdana, sans-serif;
  font-size: 17px;
}
.waf-theme.wakanda_mobile p {
  margin-top: 7px;
  margin-bottom: 7px;
}
.waf-theme.wakanda_mobile a {
  color: #000000;
}
.waf-theme.wakanda_mobile ul,
.waf-theme.wakanda_mobile ol {
  margin-top: 7px;
  margin-bottom: 7px;
}
.waf-theme.wakanda_mobile ul ul,
.waf-theme.wakanda_mobile ol ul,
.waf-theme.wakanda_mobile ul ol,
.waf-theme.wakanda_mobile ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.waf-theme.wakanda_mobile .waf-ui-textHeaders {
  font-size: 16px;
  font-weight: bold;
}
.waf-theme.wakanda_mobile .waf-ui-input,
.waf-theme.wakanda_mobile input[type="text"],
.waf-theme.wakanda_mobile input[type="search"],
.waf-theme.wakanda_mobile textarea {
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa;
  border-radius: 3px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2) inset;
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.waf-theme.wakanda_mobile .waf-ui-button,
.waf-theme.wakanda_mobile input[type="submit"],
.waf-theme.wakanda_mobile input[type="reset"],
.waf-theme.wakanda_mobile button {
  padding: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border-width: 0;
  border-style: solid;
  border-color: #030302;
  border-radius: 3px;
  background-color: #1d1d1b;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1d1d1b), to(#030302));
  background-image: -webkit-linear-gradient(top, #1d1d1b 0%, #030302 100%);
  background-image: -moz-linear-gradient(top, #1d1d1b 0%, #030302 100%);
  background-image: linear-gradient(to bottom, #1d1d1b 0%, #030302 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1d1d1b', endColorstr='#ff030302', GradientType=0);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.waf-theme.wakanda_mobile .waf-ui-button:not(.waf-button):hover,
.waf-theme.wakanda_mobile input[type="submit"]:not(.waf-button):hover,
.waf-theme.wakanda_mobile input[type="reset"]:not(.waf-button):hover,
.waf-theme.wakanda_mobile button:not(.waf-button):hover {
  background-color: #3f3f3d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3f3f3d), to(#282828));
  background-image: -webkit-linear-gradient(top, #3f3f3d 0%, #282828 100%);
  background-image: -moz-linear-gradient(top, #3f3f3d 0%, #282828 100%);
  background-image: linear-gradient(to bottom, #3f3f3d 0%, #282828 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3f3f3d', endColorstr='#ff282828', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-ui-button:not(.waf-button):active,
.waf-theme.wakanda_mobile input[type="submit"]:not(.waf-button):active,
.waf-theme.wakanda_mobile input[type="reset"]:not(.waf-button):active,
.waf-theme.wakanda_mobile button:not(.waf-button):active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#030302), to(#1d1d1b));
  background-image: -webkit-linear-gradient(top, #030302 0%, #1d1d1b 100%);
  background-image: -moz-linear-gradient(top, #030302 0%, #1d1d1b 100%);
  background-image: linear-gradient(to bottom, #030302 0%, #1d1d1b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff030302', endColorstr='#ff1d1d1b', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-ui-button.waf-ui-buttonSuccess,
.waf-theme.wakanda_mobile input[type="submit"].waf-ui-buttonSuccess,
.waf-theme.wakanda_mobile input[type="reset"].waf-ui-buttonSuccess,
.waf-theme.wakanda_mobile button.waf-ui-buttonSuccess {
  border-color: #5e840a;
  background-color: #80b30e;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#80b30e), to(#5e840a));
  background-image: -webkit-linear-gradient(top, #80b30e 0%, #5e840a 100%);
  background-image: -moz-linear-gradient(top, #80b30e 0%, #5e840a 100%);
  background-image: linear-gradient(to bottom, #80b30e 0%, #5e840a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff80b30e', endColorstr='#ff5e840a', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-ui-button.waf-ui-buttonSuccess:not(.waf-button):hover,
.waf-theme.wakanda_mobile input[type="submit"].waf-ui-buttonSuccess:not(.waf-button):hover,
.waf-theme.wakanda_mobile input[type="reset"].waf-ui-buttonSuccess:not(.waf-button):hover,
.waf-theme.wakanda_mobile button.waf-ui-buttonSuccess:not(.waf-button):hover {
  background-color: #93be32;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#93be32), to(#76962f));
  background-image: -webkit-linear-gradient(top, #93be32 0%, #76962f 100%);
  background-image: -moz-linear-gradient(top, #93be32 0%, #76962f 100%);
  background-image: linear-gradient(to bottom, #93be32 0%, #76962f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff93be32', endColorstr='#ff76962f', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-ui-button.waf-ui-buttonSuccess:not(.waf-button):active,
.waf-theme.wakanda_mobile input[type="submit"].waf-ui-buttonSuccess:not(.waf-button):active,
.waf-theme.wakanda_mobile input[type="reset"].waf-ui-buttonSuccess:not(.waf-button):active,
.waf-theme.wakanda_mobile button.waf-ui-buttonSuccess:not(.waf-button):active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5e840a), to(#80b30e));
  background-image: -webkit-linear-gradient(top, #5e840a 0%, #80b30e 100%);
  background-image: -moz-linear-gradient(top, #5e840a 0%, #80b30e 100%);
  background-image: linear-gradient(to bottom, #5e840a 0%, #80b30e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5e840a', endColorstr='#ff80b30e', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-ui-button.waf-ui-buttonWarning,
.waf-theme.wakanda_mobile input[type="submit"].waf-ui-buttonWarning,
.waf-theme.wakanda_mobile input[type="reset"].waf-ui-buttonWarning,
.waf-theme.wakanda_mobile button.waf-ui-buttonWarning {
  border-color: #d3410e;
  background-color: #f05924;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f05924), to(#d3410e));
  background-image: -webkit-linear-gradient(top, #f05924 0%, #d3410e 100%);
  background-image: -moz-linear-gradient(top, #f05924 0%, #d3410e 100%);
  background-image: linear-gradient(to bottom, #f05924 0%, #d3410e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff05924', endColorstr='#ffd3410e', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-ui-button.waf-ui-buttonWarning:not(.waf-button):hover,
.waf-theme.wakanda_mobile input[type="submit"].waf-ui-buttonWarning:not(.waf-button):hover,
.waf-theme.wakanda_mobile input[type="reset"].waf-ui-buttonWarning:not(.waf-button):hover,
.waf-theme.wakanda_mobile button.waf-ui-buttonWarning:not(.waf-button):hover {
  background-color: #f27245;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f27245), to(#d95e33));
  background-image: -webkit-linear-gradient(top, #f27245 0%, #d95e33 100%);
  background-image: -moz-linear-gradient(top, #f27245 0%, #d95e33 100%);
  background-image: linear-gradient(to bottom, #f27245 0%, #d95e33 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff27245', endColorstr='#ffd95e33', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-ui-button.waf-ui-buttonDanger,
.waf-theme.wakanda_mobile input[type="submit"].waf-ui-buttonDanger,
.waf-theme.wakanda_mobile input[type="reset"].waf-ui-buttonDanger,
.waf-theme.wakanda_mobile button.waf-ui-buttonDanger {
  border-color: #d0110f;
  background-color: #ef2523;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ef2523), to(#d0110f));
  background-image: -webkit-linear-gradient(top, #ef2523 0%, #d0110f 100%);
  background-image: -moz-linear-gradient(top, #ef2523 0%, #d0110f 100%);
  background-image: linear-gradient(to bottom, #ef2523 0%, #d0110f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffef2523', endColorstr='#ffd0110f', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-ui-button.waf-ui-buttonDanger:not(.waf-button):hover,
.waf-theme.wakanda_mobile input[type="submit"].waf-ui-buttonDanger:not(.waf-button):hover,
.waf-theme.wakanda_mobile input[type="reset"].waf-ui-buttonDanger:not(.waf-button):hover,
.waf-theme.wakanda_mobile button.waf-ui-buttonDanger:not(.waf-button):hover {
  background-color: #f14644;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f14644), to(#d73533));
  background-image: -webkit-linear-gradient(top, #f14644 0%, #d73533 100%);
  background-image: -moz-linear-gradient(top, #f14644 0%, #d73533 100%);
  background-image: linear-gradient(to bottom, #f14644 0%, #d73533 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff14644', endColorstr='#ffd73533', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-ui-button.waf-ui-buttonInfo,
.waf-theme.wakanda_mobile input[type="submit"].waf-ui-buttonInfo,
.waf-theme.wakanda_mobile input[type="reset"].waf-ui-buttonInfo,
.waf-theme.wakanda_mobile button.waf-ui-buttonInfo {
  border-color: #2ba3c0;
  background-color: #48bad6;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#48bad6), to(#2ba3c0));
  background-image: -webkit-linear-gradient(top, #48bad6 0%, #2ba3c0 100%);
  background-image: -moz-linear-gradient(top, #48bad6 0%, #2ba3c0 100%);
  background-image: linear-gradient(to bottom, #48bad6 0%, #2ba3c0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff48bad6', endColorstr='#ff2ba3c0', GradientType=0);
}
.waf-theme.wakanda_mobile .waf-ui-button.waf-ui-buttonInfo:not(.waf-button):hover,
.waf-theme.wakanda_mobile input[type="submit"].waf-ui-buttonInfo:not(.waf-button):hover,
.waf-theme.wakanda_mobile input[type="reset"].waf-ui-buttonInfo:not(.waf-button):hover,
.waf-theme.wakanda_mobile button.waf-ui-buttonInfo:not(.waf-button):hover {
  background-color: #63c4dc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#63c4dc), to(#4bb0c9));
  background-image: -webkit-linear-gradient(top, #63c4dc 0%, #4bb0c9 100%);
  background-image: -moz-linear-gradient(top, #63c4dc 0%, #4bb0c9 100%);
  background-image: linear-gradient(to bottom, #63c4dc 0%, #4bb0c9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff63c4dc', endColorstr='#ff4bb0c9', GradientType=0);
}
.waf-theme.wakanda_mobile select {
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa;
  border-radius: 3px;
}
.waf-theme.wakanda_mobile ::-webkit-input-placeholder {
  color: #aaaaaa;
}
.waf-theme.wakanda_mobile ::-moz-placeholder {
  color: #aaaaaa;
}
.waf-theme.wakanda_mobile :-ms-input-placeholder {
  color: #aaaaaa;
}
.waf-theme.wakanda_mobile input:-moz-placeholder {
  color: #aaaaaa;
}
.waf-theme.wakanda_mobile table {
  border-width: 1px;
  border-style: solid;
  border-color: #cfcfcf;
  background-color: #ffffff;
  font-size: 12px;
}
.waf-theme.wakanda_mobile table thead,
.waf-theme.wakanda_mobile table tbody,
.waf-theme.wakanda_mobile table tfoot,
.waf-theme.wakanda_mobile table tr,
.waf-theme.wakanda_mobile table th,
.waf-theme.wakanda_mobile table td {
  border-width: 0;
  border-style: inherit;
  border-color: inherit;
}
.waf-theme.wakanda_mobile table th,
.waf-theme.wakanda_mobile table td {
  padding: 12px;
  border-width: 1px;
}
.waf-theme.wakanda_mobile table thead th {
  text-align: center;
}
.waf-theme.wakanda_mobile table thead th,
.waf-theme.wakanda_mobile table thead td {
  background-color: #979797;
  color: #ffffff;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6) inset;
  outline: 1px solid #777777;
  border-bottom-width: 0;
  font-size: 16px;
  font-weight: bold;
}
.waf-theme.wakanda_mobile table tfoot th,
.waf-theme.wakanda_mobile table tfoot td {
  background-color: #979797;
  color: #ffffff;
  outline: 1px solid #777777;
  border-bottom-width: 0;
}
.waf-theme.wakanda_mobile table tbody th {
  background-color: #979797;
  color: #ffffff;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6) inset;
  outline: 1px solid #777777;
  border-bottom-width: 0;
  font-size: 16px;
  font-weight: bold;
}
.waf-theme.wakanda_mobile table tbody td {
  background-color: #ffffff;
}
.waf-theme.wakanda_mobile table .waf-state-loading {
  height: 120px;
}
.waf-theme.wakanda_mobile table .waf-state-loading .waf-ui-spinner,
.waf-theme.wakanda_mobile table .waf-state-loading .waf-ui-loader {
  margin: auto;
}
.waf-theme.wakanda_mobile table thead th,
.waf-theme.wakanda_mobile table thead td,
.waf-theme.wakanda_mobile table tfoot th,
.waf-theme.wakanda_mobile table tfoot td,
.waf-theme.wakanda_mobile table tbody th {
  border-color: #777777;
}
.waf-theme.wakanda_mobile table tbody td {
  border-width: 1px 0 0 0;
}
.waf-theme.wakanda_mobile table thead th,
.waf-theme.wakanda_mobile table thead td {
  outline: none;
  border-bottom-width: 1px;
}
.waf-theme.wakanda_mobile table tfoot th,
.waf-theme.wakanda_mobile table tfoot td {
  outline: none;
  border-bottom-width: 1px;
}
.waf-theme.wakanda_mobile table tbody th {
  outline: none;
  border-bottom-width: 1px;
}
.waf-theme.wakanda_mobile .waf-ui-box {
  border-width: 1px;
  border-style: solid;
  border-color: #cfcfcf;
  background-color: #ffffff;
}
.waf-theme.wakanda_mobile .waf-ui-header {
  background-color: #979797;
  color: #ffffff;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6) inset;
  outline: 1px solid #777777;
  border-bottom-width: 0;
  font-size: 16px;
  font-weight: bold;
}
.waf-theme.wakanda_mobile .waf-ui-footer {
  background-color: #979797;
  color: #ffffff;
  outline: 1px solid #777777;
  border-bottom-width: 0;
}
.waf-theme.wakanda_mobile .waf-ui-body {
  background-color: #ffffff;
}
/**
 * -------------------------------------------------------
 * @section navBar
 * @section tabBar
 * -------------------------------------------------------
 */
.waf-theme.wakanda_mobile .waf-ui-navBar {
  list-style: none;
}
.waf-theme.wakanda_mobile .waf-ui-navBar li {
  display: block;
}
.waf-theme.wakanda_mobile .waf-ui-tabBar {
  list-style: none;
}
.waf-theme.wakanda_mobile .waf-ui-tabBar::before,
.waf-theme.wakanda_mobile .waf-ui-tabBar::after {
  content: " ";
  display: table;
  clear: both;
}
.waf-theme.wakanda_mobile .waf-ui-tabBar li {
  display: block;
  float: left;
}
.waf-theme.wakanda_mobile .waf-ui-spinner {
  position: relative;
  overflow: hidden;
  width: 3em;
  height: 3em;
  font-size: 14px;
  -webkit-animation: waf-kf-spin_2t 1.3s infinite alternate;
  animation: waf-kf-spin_2t 1.3s infinite alternate;
  border-width: 0.3em;
  border-style: solid;
  border-color: #48bad6 #48bad6 rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.05);
  border-radius: 1000px;
}
@-webkit-keyframes waf-kf-spin_2t {
  to {
    -webkit-transform: rotate(2turn);
    transform: rotate(2turn);
  }
}
@keyframes waf-kf-spin-spin_2t {
  to {
    -webkit-transform: rotate(2turn);
    transform: rotate(2turn);
  }
}
/** 
 * Widget ListView
 *
 */
.waf-theme.wakanda_mobile .waf-wlistview {
  margin: 0;
  padding: 0;
  list-style: none;
  border-width: 1px;
  border-style: solid;
  border-color: #cfcfcf;
}
.waf-theme.wakanda_mobile .waf-wlistview li {
  height: 120px;
  padding: 15px;
  border-width: 1px 0 0 0;
  background-color: #ffffff;
}
.waf-theme.wakanda_mobile .waf-wlistview li:first-of-type {
  border-top-width: 0;
}
.waf-theme.wakanda_mobile .waf-wlistview li:last-of-type {
  border-bottom-width: 0;
}
.waf-theme.wakanda_mobile .waf-wlistview li .content {
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 1px 0 3px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition-property: left;
  -moz-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  transition-duration: 300ms;
}
.waf-theme.wakanda_mobile .waf-wlistview li.swyped-content {
  background-color: #e6e6e6;
  background-image: none;
}
.waf-theme.wakanda_mobile .waf-wlistview img {
  width: 90px;
  height: 90px;
  margin-right: 15px;
}
.waf-theme.wakanda_mobile .waf-wlistview h1,
.waf-theme.wakanda_mobile .waf-wlistview h2,
.waf-theme.wakanda_mobile .waf-wlistview h3,
.waf-theme.wakanda_mobile .waf-wlistview h4,
.waf-theme.wakanda_mobile .waf-wlistview h5,
.waf-theme.wakanda_mobile .waf-wlistview h6 {
  margin-top: 11px;
  height: 33px;
  line-height: 33px;
}
.waf-theme.wakanda_mobile .waf-wlistview p {
  height: 33px;
  line-height: 33px;
}
.waf-theme.wakanda_mobile .waf-wlistview.waf-tpl-alignTop h1,
.waf-theme.wakanda_mobile .waf-wlistview.waf-tpl-alignTop h2,
.waf-theme.wakanda_mobile .waf-wlistview.waf-tpl-alignTop h3,
.waf-theme.wakanda_mobile .waf-wlistview.waf-tpl-alignTop h4,
.waf-theme.wakanda_mobile .waf-wlistview.waf-tpl-alignTop h5,
.waf-theme.wakanda_mobile .waf-wlistview.waf-tpl-alignTop h6 {
  margin-top: 0;
  line-height: 1;
  height: auto;
  max-height: 45px;
}
.waf-theme.wakanda_mobile .btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border-width: 0;
  border-style: solid;
  border-color: #030302;
  border-radius: 3px;
  background-color: #1d1d1b;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1d1d1b), to(#030302));
  background-image: -webkit-linear-gradient(top, #1d1d1b 0%, #030302 100%);
  background-image: -moz-linear-gradient(top, #1d1d1b 0%, #030302 100%);
  background-image: linear-gradient(to bottom, #1d1d1b 0%, #030302 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1d1d1b', endColorstr='#ff030302', GradientType=0);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 0;
}
.waf-theme.wakanda_mobile .form-control {
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa;
  border-radius: 3px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2) inset;
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.waf-theme.wakanda_mobile .well {
  border-width: 1px;
  border-style: solid;
  border-color: #cfcfcf;
  background-color: #ffffff;
}
